<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="testDatabase" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=SummerOfNHibernate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SummerOfNHibernateConnectionString" connectionString="Data Source=ARSG184\sqlexpress;Initial Catalog=SummerOfNHibernate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayerTest.Properties.Settings.SummerOfNHibernateConnectionString"
            connectionString="Data Source=ARSG184\sqlexpress;Initial Catalog=SoNHB2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataAccessLayerTest.Properties.Settings.SummerOfNHibernateConnectionString1"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=SummerOfNHibernate;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>